// Global styles
:global {
  #workbenchPageContent,
  .CanvasComponent.LCS .CanvasZone {
    max-width: 100% !important;
    padding: 0;
    margin: 0;
  }
}

// Variables
$rule-color: rgba(80, 106, 130, 1);
$text-color: #ffffff;
$font-family: "Aptos", "Helvetica Neue", sans-serif;
$hero-padding-desktop: 100px;
$hero-padding-mobile: 50px 70px 50px 50px;
$rule-distance: 30px;
$peacock-width-desktop: 490px;
$peacock-width-mobile: 245px;

// Hero Banner
.heroBanner {
  font-family: $font-family;
  font-weight: 400;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: $hero-padding-desktop;
  background:
    radial-gradient(circle at 30% center, rgba(13, 39, 70, 0.5) 0%, rgba(0, 21, 45, 0) 50%),
    linear-gradient(90deg, #0D2746 0%, #005497 70%, #001B31 100%);
  background-image: url('../assets/legalTipsBg.jpg');
  background-size: cover;
  background-position: center;
  color: $text-color;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/legalTipsBgImg.svg');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 3200px auto;
    opacity: 1;
    z-index: 0;
    pointer-events: none;
  }
}

// Rules
.topRule, .rightRule, .leftRule, .bottomRule {
  position: absolute;
  border-color: $rule-color;
  z-index: 10;
}

.topRule {
  border-top: 1px solid $rule-color;
  top: 30px;
  left: 30px;
  right: 30px;
}

.rightRule {
  border-left: 1px solid $rule-color;
  top: 30px;
  right: 30px;
  bottom: 30px;
  height: calc(100% - 60px);
}

.leftRule {
  border-left: 1px solid $rule-color;
  top: 30px;
  left: 30px;
  bottom: 30px;
  height: calc(100% - 345px - 60px);
}

.bottomRule {
  border-top: 1px solid $rule-color;
  left: 600px;
  bottom: 30px;
  width: calc(100% - 600px - 30px);
}

// Columns Container
.columnsContainer {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 30px;
  width: 100%;
  position: relative;
  z-index: 10;
  overflow: hidden;
}

.columnLeft, 
.columnRight {
  flex: 1; // Equal width columns
  display: flex;
  flex-direction: column;
  min-width: 0; // Fix for overflow issues
}
.columnLeft {
  justify-content: center; // Center vertically
  transform: translateY(-30px); // Shift up by 50px
}

// Hero Text
.heroTitle {
  $font-family: "Aptos", "Helvetica Neue", sans-serif;
  font-size: 25px;
  padding: 0;
  margin: 0 0 -30px;
  color: $text-color;
  position: relative;
  z-index: 10;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.heroText {
  $font-family: "Aptos", "Helvetica Neue", sans-serif;
  font-size: 65px;
  position: relative;
  padding: 0;
  margin:0;
  z-index: 10;
  font-weight: 400;

  p {
    margin: 0;
  }
}

// Body Container
.bodyContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 0;
}

.bodyText {
  margin-bottom: 30px;
  margin-top:50px;
  font-size: 27px;
  color: $text-color;
  line-height: 1.2;
  ul {
    list-style-type: circle;
    padding-left: 30px;
    li {
      margin-bottom: 30px;
    }
  }
}

// Header Container
.headerContainer {
  margin-bottom: 20px;
  padding-top: 20px;
}

.header {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
  color: $text-color;
  line-height: 1.2;
}

// Responsive Design
@media (max-width: 992px) {
  .heroBanner {
    padding: $hero-padding-mobile;

    &::before {
      background-size: 1600px auto;
    }
  }

  .headerContainer {
    padding-left:15px;
  }

  .heroText {
    font-size: 36px;
  }

  .leftRule {
    height: calc(100% - 165px - 60px);
  }

  .bottomRule {
    left: 300px;
    width: calc(100% - 300px - 30px);
  }

  .columnsContainer {
    flex-direction: column;
    gap: 15px;
  }

  .columnLeft {
    justify-content: inherit;
    transform: translateY(0); 
  }

  .bodyText {
    margin-top:0;
    font-size: 18px;
    line-height: 1.3;
    ul {
      padding-left: 30px;
      li {
        margin-bottom: 30px;
      }
    }
  }

  .columnLeft,
  .columnRight {
    width: 100%; // Stack vertically on mobile
  }
}
